.bisque{
    color: red;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    background-color: bisque;
}

.black{
    color: black;
}

.navnav{
    color: rgb(255, 108, 10);
    background-color: aquamarine;

}
.divdiv{
    background-color: aquamarine;
}