.div{
    color: red;
    cursor: pointer;
    
}

.black{
    color: black;
}

.navnav{
    color: rgb(255, 108, 10);
    background-color: aquamarine;

}
.divdiv{
    background-color: aquamarine;
}