RewriteEngine On
RewriteBase /mvc1

# Ne réécrit pas si le fichier ou le dossier existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige tout vers index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]